* {
    font-family: sans-serif;
    margin: 0;
}

body {
    --bg-color: #ede9f8;
    --color-primary: #FFB085;
    --color-secondary: yellowgreen;
    --border-radius: 25px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.container {
    width: 800px;
    max-width: 800px;
    margin: 1rem;
    padding: 2rem;
    border-radius:var(--border-radius);
    background: #FEFBF3;
}

.tittle {
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__input {
    width: 30%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    outline: none;
    background: #FDFCE5;
    transition: background 0.2s, border-color 0.2s;
    text-align: center;
    font-weight: bolder;
    font-size: 12pt;
}

.form__input-hasil {
    width: 30%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
    outline: none;
    color: white;
    background: var(--color-secondary);
    transition: background 0.2s, border-color 0.2s;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.form__input:focus {
    border-color: tomato;
    background: white;  
}

.form__input-hasil:focus {
    border-color: greenyellow;
}

:placeholder-shown {
    font-size: 10pt;
    font-weight: initial;
    font-style: italic;
}

img {
    width: 20px;
    height: 20px;
}

.utkreset {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hapuss {
    padding: 0.75rem;
    border:none;
    width: 10%;
    background:#FEFBF3;
    cursor: pointer;
}