* {
    font-family:sans-serif;
    margin: 0;
}

label {
    padding: 3px 0 10px 3px;
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
}

body {
    --bg-color: #D3E4CD;
    --color-primary: #99A799;
    --color-secondary: #F2DDC1;
    --border-radius: 25px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: var(--color-primary);
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:nth-child(2) {
    margin-bottom: 0;
}

.form__tittle {
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    outline: none;
    background: #E2C2B9;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: tomato;
    background: #ffffff;
    
}

.form__button {
    margin: auto;
    width: 90%;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    border: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: yellowgreen;
}

#hitungButton {
    margin-left: 5%;
}

.form__button:active {
    transform: scale(0.98);
}

.padding {
    padding-bottom: 10px;
}

button {
    padding-bottom: 10px;
}

:placeholder-shown {
    font-style: italic;
}

img {
    width: 20px;
    height: 20px;
}

.utkreset {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hapuss {
    padding: 0.75rem;
    border:none;
    width: 10%;
    background:var(--color-primary);
    cursor: pointer;
}
